body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 10px; /* Space for fixed navbar */
  padding-left: 10px;
  padding-right: 10px;
}

